<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(main_slider) -%>">
  <span class='title'>
    <%= main_slider.name %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.main_sliders_main_slider_path(main_slider),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_main_sliders_admin_main_slider_path(main_slider),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.main_sliders_admin_main_slider_path(main_slider),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => main_slider.name),
        :method => :delete %>
  </span>
</li>
